*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    background-color: rgb(65, 64, 64);
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    
}
.card img{
    height: 160px;
}

.subtle{
    color: #aaa;
}

.main-card-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
}

.card-container{
    margin: 20px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
}
.card-container{
    max-width: 100%;
    
}
.card{
    display: block;
    background-color: #fff;
    padding: 20px;
    position: relative;
    z-index: 1;
    border: 1px solid white;
    border-radius: 15px;
    height: 500px;
}
.card-body{ 
    
  display: inline-block;
     
}
.card-number{
    margin-top: 15px;
}
.card-circle{
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 24px;
    height: 25px;
    align-items: center;
    width: 25px;
}
.card-author{
    color: #262727;
    display: block;
    font-size: 10px;
    letter-spacing: 0.5px;
    margin: 2px;
    text-transform: uppercase;
}
.card-title{
    color: #262727;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin: 10px 0;
    text-transform: capitalize;
}

.card-description{
    font-weight: 300;
    line-height: 22px;
    margin-top: 10px 0;
}

.card-read{
    cursor: pointer;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 6px;
    margin: 5px 0 20px;
}
.card-read::after{
    background-color: #262727;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
}
.order-tag{
  float: right;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(218, 56, 56);
  color: white;
}
.card-media{
    max-width: 100%;
    height: auto;
}


/* navbar */
.btn-group{
    background-color: rgb(239, 242, 243);
    border-radius: 12px;
    padding: 10px;
    margin: auto ;
    margin-top: 5px;
    width: 530px;
    justify-content: center;
}
.btn-group-item{
    background-color:rgb(24, 22, 22);
    color: white;
    margin: 0px 10px;
    padding: 6px 8px 6px 8px;
    cursor: pointer;
    border-radius: 8px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
    

    @media(max-width: 1137px){
        .main-card-container{
            display: grid;
            grid-template-columns: repeat(1, minmax(100%, 100%));
            grid-gap: 40px;
            justify-content: space-around;
        }

          

.btn-group {
     width: 233px;
     justify-content: normal; 
}
.main-card-container {
     display: none; 
    grid-template-columns: repeat(3, minmax(105px, -1px));
     grid-gap: none; 
     justify-content: normal; 
}
.card-container {
   
    display: flex;
    /* flex-direction: column-reverse; */
    /* grid-template-columns: 1fr; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}
.card {
    display: block;
    background-color: #fff;
     padding: 0px; 
    position: relative;
    z-index: 1;
    border: 1px solid white;
    border-radius: 15px;
     height: 000; 
}
.card-circle {
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    line-height: 2px;
    font-size: 16px;
    height: none; 
    align-items: normal;
    width: none; 
}
.card img {
    height: 140px;
}

.card-media {
     max-width: none; 

}
    
    }
